{% load static%}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/javascript">
    function Hide() {
      if (document.getElementById('id_amount_to_pay').options[document.getElementById('id_amount_to_pay').selectedIndex].value == "Full Amount") {
        console.log('hiii')
        document.getElementById('id_actual_amount').style.visibility = "hidden";
        document.querySelector("body > div > div.container > div > div > form > div:nth-child(5) > label").style.visibility = "hidden";
      } else {
        document.querySelector("body > div > div.container > div > div > form > div:nth-child(5) > label").style.visibility = "visible";
        document.getElementById('id_actual_amount').style.visibility = "visible";
      }

    }

    window.onload = function () {
      document.getElementById('id_amount_to_pay').onchange = Hide;
    };
  </script>
  {% block stylesheet %}{% endblock %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
    crossorigin="anonymous" />
</head>

<body>
  {%block body%}
  <nav style="height:15%" class="navbar navbar-expand-lg navbar-light bg-primary mb-6">
    <div class="container-fluid">
      <a style="color: white;" class="navbar-brand" href="{% url 'home' %}">NEWS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!-- <a style="color: white;" class="nav-link active" aria-current="page" href="#">Home</a> -->


          {% if user.is_superuser %}
          <a style="color: white;" class="nav-link active" href="{% url 'all_batches' %}">RESELLER USER</a>
          <a style="color: white;" class="nav-link active" href="{% url 'all-tickets' %}">SUPPORT TICKET (superuser)</a>
          <a style="color: white;" class="nav-link active" href="{% url 'create' %}">CREATE USER </a>
          <a style="color: white;" class="nav-link active" href="{% url 'imports' %}">COUNTRY-IMPORTS </a>
          <a style="color: white;" class="nav-link active" href="{% url 'all_payouts' %}">PAYOUT Admin </a>
          {% else %}
          <a style="color: white;" class="nav-link active" href="{% url 'my-tickets' %}">SUPPORT TICKET </a>
          <a style="color: white;" class="nav-link active" href="{% url 'payout_new' %}">PAYOUT </a>
          {% endif %}
          <a style="color: white;" class="nav-link active" href="{% url 'imports_cards' %}">CARD-IMPORTS </a>
          <a style="color: white;" class="nav-link active" href="{% url 'password_change' %}">CHANGE PASSWORD </a>

          <a style="color: white; position:absolute; right:10; font-size: 15px; margin-bottom:80%px;"
            class="nav-link active" href="{% url 'logout' %}">Log Out ({{user}})</h1>
          </a>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <ol class="breadcrumb my-4">
      {% block breadcrumb %}
      {% endblock %}
    </ol>

    {% block content %}
    {% endblock %}

  </div>
  {%endblock body%}
  <script src="{%static 'js/jquery-3.4.1.min.js'%}"></script>
  <script src="{%static 'js/popper.min.js'%}"></script>
  <script src="{%static 'js/bootstrap.min.js'%}"></script>

</body>



</html>