
{% extends "includes/base.html" %}

{% block title %}
Tickets - All tickets

{% endblock %}


{% block content %}

<div class="row">
    <div class="col-lg-12">
      {% include "messages.html"%}

        <a href="{% url 'ticket_new' %}"><button type="button" class="btn btn-primary" style="float: right; margin-top: 15px; margin-right: 00px;">Create New Ticket</button></a>

    <div class="page-header"><h1>All Tickets</h1></div>

    
<table class="ui table">
    <thead>
      <tr class="col-xs-5">
        <th class="th-lg">Status</th>
        <th class="th-lg">Created by</th>
        <th class="th-lg">Title</th>
        <th class="th-lg" class="col-xs-5">Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
      <tr>
        <td>
        {{ ticket.status }}
        </td>
        <td>{{ ticket.created_by }}</td>
        <td>{{ ticket.title }}</td>
        <td>{{ ticket.description }}</td>
        <td>
          <a href={% url 'ticket_edit' pk=ticket.id  %} class="ui button">
          <i class="eye icon"></i>
      </a>

      <!-- <a href={% url 'ticket_detail' pk=ticket.id  %} class="ui button">
        <i class="pencil icon"></i>
    </a> -->

    </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  
    </div>
</div>

{% endblock %}